.titleLabel {
    padding: 487px 0 0 47px !important;
    font-family: neosans !important;
    font-size: 26px !important;
    opacity: 85% !important;
    font-weight: bold !important;
}





